<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SynthWay Radio</title>

  </head>
  <body>

    <div class="current-track">
      <h2>Now Playing:</h2>
      <p>
        <div id="current-track"></div>
      </p>
    </div>

    <div class="last-tracks">
      <h2>You Just Missed:</h2>
      <p>
        <div id="last-tracks"></div>
      </p>
    </div>


    <script src="/static/jquery.min.js"></script>
    <script src="/static/ajax.played.js"></script>
  </body>
</html>
